* {
    box-sizing: border-box;
    font-weight: 500;
}
html {
    height: 100%;
    /* background-image: url(/static/images/gradient-wallpaper-background-3111eb57a734343217bcacbd73c5e796/5351.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
body{
    width: 1900px;
    height: 100%;
    margin: 0 auto;
}
h1 {
    margin: 0;
    font-size: 25px;
    
}

main {
    height: 919px;
    
}
h1{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
}
ul {
    list-style: none;
    font-size: 20px;
}
span {
    font-weight: bold;
}
li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 20px;
}
table {
    border: 1;
}
td,tr {
    font-size: 18px;
    
}
.barChart-bar {
    width: 200px;
    height: 180px;
}
.lineChart-line {
    width: 200px;
    height: 180px;
}
.fa-solid {
    cursor: pointer;
}
#pieChart,
#lineChart,
#barChart {
    cursor: pointer;
}