* {
    box-sizing: border-box;
}
html, body{
    width: 1900px;
    height: 100%;
    margin: 0 auto;
}
h1 {
    margin: 0;
    font-size: 25px;
}

main {
    height: 919px;
    
}
h1{
    font-size: 25px;
    margin-top: 10px;
}
ul {
    list-style: none;
    font-size: 20px;
}
span {
    font-weight: bold;
}
li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 20px;
}
table {
    border: 1;
}
td,tr {
    font-size: 18px;
    
}
