header {
    width: 100%;
    height: 60px;
    border: 0.5px dotted red;

    display: flex;
    
}

header h1 {
    margin: 0;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}