main {
    padding-top: 60px;
    height: 100%;
}
.main-wrap {
    height: 100%;
    display: flex;
}

.main-center {
    width: 54%;
    height: 100%;
    border: 0.5px dotted red;
    
}
.main-aside {
    width: 23%;
    height: 100%;
    border-bottom: 0.5 dotted red;
}
.main-wrap h1 {
    font-size: 25px;
}
.main-aside-top, .main-aside-middle, .main-aside-bottom {
    height: 33.333%;
    border-bottom: 0.5px dotted red;
}
.main-aside-top-title {
   position:relative;
   border-bottom: 0.5px dotted red;
}
.main-aside-top-content li{
    margin: 20px;

    font-size: 20px;
    font-weight: 600;
}
.main-aside-top-content li span {
    color: #d8d8d8;
}

.main-center-top {
    height: 66.666%;
    border-bottom: 0.5px dotted red;
} 
.main-center-bottom {
    height: 33.333%;
}
