.main-wrap {
    width: 100%;
    height: 100%;

    display: flex;
}
/* 양쪽 상단, 중단, 하단 크기*/
.main-aside-content-left-top,
.main-aside-content-left-middle,
.main-aside-content-left-bottom {
    width: 450px;
    height: 250px;
    
    margin: 10px auto;

    
    border-radius: 20px;

    box-shadow: 3px 3px 10px 1px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main-aside-content-right-top,
.main-aside-content-right-middle,
.main-aside-content-right-bottom {
    width: 450px;
    height: 250px;
    
    margin: 10px auto;

    box-shadow: 3px 3px 10px 1px;

    border-radius: 20px;

}
/* 왼쪽, 오른쪽 */
.main-left, .main-right {
    width: 25%;
    
}
.main-left {
    border: 1px solid black;
    border-top: none;
}
.main-right {
    border: 1px solid black;
    border-top: none;
}
/* 중앙 */
.main-center {
    width: 50%;

    
}


/* 왼쪽, 오른쪽 3칸 */
.main-aside {
    width: 100%;
    height: 33.333%;
    
}

/* 왼쪽 상단 */
.main-aside-content-left-top ul {
    margin: 0;
    padding: 0;

    width: 55%;

}
.main-aside-content-left-top ul:nth-child(1) {
    width: 45%;
    border-right: 2px solid black;
   
}
.main-aside-content-left-top ul:nth-child(1) li,
.main-aside-content-left-top ul:nth-child(2) li{
    font-size: 22px;
}
.main-aside-content-left-top ul:nth-child(2) li {
    font-weight: bold;
}
.main-aside-content-left-top ul:nth-child(2) li:nth-child(1) {
    color: green;
}
.main-aside-content-left-top ul:nth-child(2) li:nth-child(2) {
    color: blue;
}
.main-aside-content-left-top ul:nth-child(2) li:nth-child(3) {
    color: pink;
}
.main-aside-content-left-top ul:nth-child(2) li:nth-child(4) {
    color: rgba(236, 96, 15, 0.596);
}
.main-aside-content-left-top ul:nth-child(2) li:nth-child(5) {
    color: rgb(230, 217, 47);
}
.main-aside-content-left-top ul li {   
    margin-left: 50px;

}

/* 왼쪽 중앙 */
.main-aside-content-left-middle {
    width: 450px;
    height: 250px;
    
    margin: 10px auto;

    
    border-radius: 20px;

    display: flex;

}
.main-aside-content-left-middle-graph {
    width: 250px;
    height: 250px;
    
}
.main-aside-content-left-middle-graph-wrap {
    width: 250px;
    height: 250px;
    
}
.main-aside-content-left-middle-content ul {
    padding: 0;
}
.main-aside-content-left-middle-content ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.main-aside-content-left-middle-content ul li span{
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 15px;
    border: 0.5px dotted red;
}
/* 왼쪽 하단 */
.main-aside-content-left-bottom {
    display: flex;
}
.state-info-green {
    color: green;
}
.state-info-blue {
    color: blue;
}
.state-info-yellow {
    color: yellowgreen;
}
.state-info-red {
    color: red;
}
.state-info-white {
    color: black
}
/* 왼쪽 하단 발전소 개수 */
.main-aside-content-left-bottom .state-info-green div:nth-child(3),
.main-aside-content-left-bottom .state-info-blue div:nth-child(3),
.main-aside-content-left-bottom .state-info-yellow div:nth-child(3),
.main-aside-content-left-bottom .state-info-red div:nth-child(3),
.main-aside-content-left-bottom .state-info-white div:nth-child(3) {
    font-size: 25px;
}
/* 왼쪽 하단 상태 */
.main-aside-content-left-bottom .state-info-green,
.main-aside-content-left-bottom .state-info-blue,
.main-aside-content-left-bottom .state-info-yellow,
.main-aside-content-left-bottom .state-info-red,
.main-aside-content-left-bottom .state-info-white{
    width: 90px;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin: 0px auto;
    font-size: 20px;
}

/* 센터 위 */
.main-center-top {
    width: 100%;
    height: 63.666%;
    
}

/* 센터 전체 상태 공간 */
.main-center-all-state {
    width: 900px;
    height: 50px;

    margin: 0 auto;

    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}
/* 전체상태, : 부분 */
.all-state h2,
.main-center-all-state span {
    font-size: 25px;
    margin-right: 10px;
}
/* 메인 중앙 전체상태 */
.main-center-all-state-state {
    display: flex;
}
/* 메인 중앙 전체상태 옆 */
.main-center-all-state-state div {
    font-size: 25px;
}
.main-center-all-state-state div:nth-child(2) {
    width: 500px;
    height: 20px;
    margin: auto 10px;
    border: 1px solid #333;
    border-radius: 10px;

}
.main-center-box-map {
    display: flex;
}
.main-center-box {
    width: 300px;
    height: 320px;

    margin: 50px 50px 0px 100px;
    
    box-shadow: 3px 3px 10px 1px;

    
    border-radius: 15px;
}
.main-center-box-wrap {
    width: 280px;
    height: 300px;

    margin: 10px auto;

    text-align: center;
}
/* 센터 박스 제목 */
.main-center-box-title h1{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 0px;
    font-weight: bold;

}
.main-center-box-all h2 {
    font-size: 25px;
    margin: 5px;
    margin-bottom: 20px;
    font-weight: 500;
}
/* 센터 박스 내용 */
.main-center-box-content {
    border-collapse: collapse;

    width: 100%;
}
.main-center-box-content tr td:nth-child(1) {
    width: 40%;
}
.main-center-box-content td {
    height: 35px;

    border: 2px solid white;
    
    color: white;
    
    background-color: #454253;

}
.main-center-box-content tr td:nth-child(2) {


}
/* 지도 옆 박스 */

.main-center-map {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 400px;
    height: 500px;

    margin-top: 20px;
    margin-right: 50px;
}
.main-center-map img {
    height: 100%;
}

/* 센터 아래 제목 */
.main-center-bottom-wrap {
    height: 36.333%;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
   

    text-align: center;
}
.main-center-bottom-top{
    border-bottom: 1px solid black;
    
}
.main-center-bottom-top h1 {
    margin: 0;
}
.main-center-bottom-bottom {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 300px;

    border: 1px oslid black;
}
/* 메인 센터 제일 아래 왼쪽 */
.main-center-bottom-bottom-left {
    width: 70%;    
    height: 100%;
    padding-left: 10px;

    display: flex;
    flex-wrap: wrap;
    
    align-content: space-around;
    
}
/* 메인 센터 아래 지역 */
.main-center-bottom-region-first,
.main-center-bottom-region {
    width: 100px;
    height: 80px;
    margin-left: 5px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 600;

    border-radius: 20px;
    cursor: pointer;
}

.main-center-bottom-region-first:hover {
    background-color: #1fce94;
}

.main-center-bottom-region:hover {
    background-color: #1fce94;
}
.main-center-bottom-region-first div:nth-child(1), 
.main-center-bottom-region div:nth-child(1) {
    font-size: 20px;
}

.main-center-bottom-region-first div:nth-child(2),
.main-center-bottom-region div:nth-child(2) {
    font-size: 30px;
    font-weight: 600;

    color: #326ef0;
}
.main-center-bottom-region-first {
    box-shadow: 3px 3px 10px 1px;
}
.main-center-bottom-bottom-right {
    width: 30%;
    height: 100%;
    
}
/* 메인 센터 하단 오른쪽 박스 */
.main-center-bottom-bottom-right-box {
    width: 250px;
    height: 270px;

    margin: 12px auto;

    
    box-shadow: 3px 3px 10px 1px;
    
    border-radius: 15px;
}
.main-center-bottom-right-box-title h1{
    font-size: 30px;
    margin: 15px auto;
    margin-bottom: 5px;
    font-weight: bold;
}
/* 메인 센터 하단 오른쪽 같은 박스 두개 */
.main-center-bottom-right-samebox {
    width: 200px;
    height: 100px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}
.main-center-bottom-right-small{
    margin-bottom: 5px;
    font-weight: bold;
}
.main-center-bottom-right-big{
    width: 210px;
    height: 50px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #0a7c56;
}
.main-aside-title-left-top {
    display: flex;
    justify-content: space-between;
}
/* 오른쪽 상단 */
.main-aside-title-right-top {
    display: flex;
    justify-content: space-between;

}
.main-aside-title-right-top span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-top: 10px;
}
.main-aside-title-left-middle {
    display: flex;
    justify-content: space-between;
}
/* 오른쪽 중앙 */
.main-aside-title-right-middle {
    display: flex;
    justify-content: space-between;
}
.main-aside-title-right-middle span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    margin-top: 10px;
}
/* 오른쪽 박스 안 제목 */
.right-content-title {
    width: 100%;
    height: 30px;

    margin-top: 10px;

}
.right-content-title h2{
    margin: 0;
    margin-left: 10px;
    font-weight: 500;
}
.right-top-content-content {
    width: 100%;
    height: 180px;

}
/* 오른쪽 그래프 */
.right-top-content-graph {
    width: 95%;
    height: 180px;

    margin: 10px auto;
}
.right-bottom-content-top{
    width: 100%;
    height: 80px;

    display: flex;

    border-bottom: 1px solid black;
}
/* 오른쪽 밑 박스 안 왼쪽 */
.right-bottom-content-left{
    width: 40%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}
.right-bottom-content-left h1{
    font-size: 33px;
    font-weight: bold;
}
.right-bottom-content-left h1,
.right-bottom-content-right h1 {
    margin: 0;
}
/* 오른쪽 밑 박스 안 오른쪽 */
.right-bottom-content-right {
    width: 60%;

    display: flex;
    
    align-items: center;

}
/* 오른쪽 아래 내용 이미지 */
.right-bottom-content-right h1 img {
    margin: 7px 0px 0px 60px;
    width: 33px;
    height: 33px;
}
.right-bottom-content-right div h1 {
    margin-left: 20px;
}
/* 오른쪽 밑 박스 안 아래 */
.right-bottom-content-bottom  {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    margin: 10px auto;
}
.right-bottom-content-bottom .state-info-green,
.right-bottom-content-bottom .state-info-blue,
.right-bottom-content-bottom .state-info-yellow,
.right-bottom-content-bottom .state-info-red,
.right-bottom-content-bottom .state-info-white {
    width: 90px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin: 0px auto;
    font-size: 20px;

}
.right-bottom-content-bottom .state-info-green div:nth-child(3),
.right-bottom-content-bottom .state-info-blue div:nth-child(3),
.right-bottom-content-bottom .state-info-yellow div:nth-child(3),
.right-bottom-content-bottom .state-info-red div:nth-child(3),
.right-bottom-content-bottom .state-info-white div:nth-child(3) {
    font-size: 25px;
}